@font-face {
  font-family: itachi;
  src: url("../itachi.ttf");
}

header h2 {
  font-family: itachi;
  font-size: 80px;
  text-align: center;
}

footer h5 {
  font-family: itachi;
  text-align: center;
  font-size: 60px;
}

nav {
  text-align: center;
}

.jumbotron {
  padding: 0px;
}

#edit-btn {
  margin-bottom: 5px;
  width: 100px;
}

#del-btn {
  width: 100px;
}

.nav-btn {
  width: 150px;
  margin: 5px;
  background-color: #333333;
  border: 1px white solid;
}

.author-name {}
