@font-face {
  font-family: itachi;
  src: url("../itachi.ttf");
}

header h2 {
  font-family: itachi;
  font-size: 80px;
}

.jumbotron {
  padding: 0px;
}

#edit-btn {
  margin-bottom: 5px;
  width: 100px;
}

#del-btn {
  width: 100px;
}
