<div class="jumbotron">
  <div class="container-fluid">
    <nav role="navigation" class="navbar">
      {{#link-to 'index'}}
      <button class="btn-success btn">
          Home
      </button>
      {{/link-to}}
      {{#link-to 'about-us'}}
      <button class="btn-success btn">
          About
      </button>
      {{/link-to}}
      {{#link-to 'contact'}}
      <button class="btn-success btn">
          Contact
      </button>
      {{/link-to}}
    </nav>
  </div>
  <header><h2>
    QUESTIONS and ANSWERS
  </h2></header>
</div>
{{outlet}}
<hr>
<footer>
  <h5>Designed by Jaden Lesuk</h5>
</footer>
