 {{new-post savePost2="savePost3"}}

<h2>QUESTIONS :</h2>
<ul>
  {{#each model.posts as |post|}}
  <div class="well">
    {{post-tile post=post  update="update" deletePost="deletePost"}}
  </div>
  {{/each}}
</ul>
